.article {
	@apply prose prose-slate mx-auto prose-h1:font-[#151515];

	.data-footnote-backref {
		@apply font-sans no-underline;
	}

	a,
	.underline {
		@apply underline-offset-8;
	}

	a {
		@apply break-all outline-none outline-offset-2 transition-all duration-150 ease-Ease hover:text-blue-200 focus-visible:decoration-transparent focus-visible:outline-2 focus-visible:outline-blue-200;
	}

	ul + h1 {
		@apply mt-7;
	}

	.footnotes ol {
		@apply p-0;

		p {
			font-size: 0;

			* {
				font-size: initial;
			}

			.data-footnote-backref {
				@apply m-2;
				font-family:
					ui-sans-serif,
					system-ui,
					-apple-system,
					BlinkMacSystemFont,
					sans-serif,
					Apple Color Emoji,
					Segoe UI Symbol;
			}
		}
	}

	table ol > li::marker,
	.footnotes ol > li::marker {
		content: none;
	}

	ol > li::marker {
		content: counters(list-item, ".") ".";
	}
}
