---
import Base from "@Layout/Base.astro";

import "@Stylesheet/Component/Article.css";

export const Capitalize = (Text: string) =>
	Text.replace(/\b\w/g, (Text) => Text.toUpperCase());

export const getStaticPaths = async () =>
	[
		"terms-of-service",
		"gdpr",
		"privacy-policy",
		"personal-data-protection-policy",
	].map((Slug) => ({
		params: { Slug },
	}));

const Slug = (
	typeof Astro.params["Slug"] === "string" ? Astro.params["Slug"] : ""
).toLowerCase();

const File = (await Astro.glob("./../Content/en/*.md")).filter(
	(page: { file: string | string[] }) =>
		page.file.indexOf(Slug) > -1 ||
		(Slug == "gdpr" &&
			page.file.indexOf("personal-data-protection-policy") > -1)
);

let Content: string,
	Title = "";

if (typeof File[0] !== "undefined") {
	Content = File[0].compiledContent();
	Title = File[0].frontmatter["Title"];
} else {
	Content = "Not found.";
	Title = "404.";
}
---

<Base
	Font={[
		"/Font/AlbertSans500.css",
		"/Font/AlbertSans600.css",
		"/Font/AlbertSans700.css",
		"/Font/AlbertSans800.css",
		"/Font/AlbertSans900.css",
	]}
	{Title}>
	<div class="flex flex-col">
		<main class="flex grow justify-center">
			<div class="flex grow self-center">
				<div class="container sm:pb-36">
					<article class="article">
						<Fragment set:html={Content} />
					</article>
				</div>
			</div>
		</main>
	</div>
</Base>
