---
import Base from "@Layout/Base.astro";
import "@Style/Component/Article.css";

export const getStaticPaths = async () =>
	[
		"terms-of-service",
		"gdpr",
		"privacy-policy",
		"personal-data-protection-policy",
	].map((Slug) => ({
		params: { Slug },
	}));

const Slug =
	typeof Astro.params["Slug"] === "string" ? Astro.params["Slug"] : "";

const file = (await Astro.glob("./../Content/en/*.md")).filter(
	(page: { file: string | string[] }) =>
		page.file.indexOf(Slug) > -1 ||
		(Slug == "gdpr" &&
			page.file.indexOf("personal-data-protection-policy") > -1)
);

let content: string,
	title = "";

if (typeof file[0] !== "undefined") {
	content = file[0].compiledContent();
	title = file[0].frontmatter["title"];
} else {
	content = "Not found.";
	title = "404.";
}
---

<Base
	fonts={[
		{ href: "/Font/AlbertSans500.css?rev=1.1" },
		{ href: "/Font/AlbertSans600.css?rev=1.1" },
		{ href: "/Font/AlbertSans700.css?rev=1.1" },
		{ href: "/Font/AlbertSans800.css?rev=1.1" },
		{ href: "/Font/AlbertSans900.css?rev=1.1" },
	]}
	title={title}>
	<div class="flex flex-col">
		<main class="flex grow justify-center">
			<div class="flex grow self-center">
				<div class="container sm:pb-36">
					<article class="article">
						<Fragment set:html={content} />
					</article>
				</div>
			</div>
		</main>
	</div>
</Base>
