@font-face {
	font-family: "Albert Sans";
	font-style: italic;
	font-weight: 800;
	src: url("/fonts/AlbertSans800italic.eot");
	src:
		local(""),
		url("/fonts/AlbertSans800italic.eot?#iefix") format("embedded-opentype"),
		url("/fonts/AlbertSans800italic.woff2") format("woff2"),
		url("/fonts/AlbertSans800italic.woff") format("woff"),
		url("/fonts/AlbertSans800italic.ttf") format("truetype"),
		url("/fonts/AlbertSans800italic.svg#AlbertSans") format("svg");
}
