<footer class="footer flex">
	<ul class="flex shrink flex-col justify-start sm:flex-row">
		<li>
			<a
				href="https://github.com/PlayForm"
				target="_blank"
				rel="noopener noreferrer"
				class="icon flex">
				<picture>
					<source
						media="(prefers-color-scheme: dark)"
						srcset="/Image/vendor/github-mark-white.svg"
					/>
					<source
						media="(prefers-color-scheme: light)"
						srcset="/Image/vendor/github-mark.svg"
					/>
					<img
						alt="GitHub"
						src="/Image/vendor/github-mark-white.svg"
					/>
				</picture>
			</a>
		</li>
	</ul>
	<slot />
	<ul class="flex flex-1 flex-col justify-center sm:flex-row">
		<li>
			<a href="/Personal-Data-Protection-Policy" rel="prefetch"
				>[ Personal Data Protection Policy 📄]</a
			>
		</li>
		<li>
			<a href="/Privacy-Policy" rel="prefetch">[ Privacy Policy 📄]</a>
		</li>
		<li>
			<a href="/Terms-Of-Service" rel="prefetch"
				>[ Terms of Service 📄]</a
			>
		</li>
	</ul>
</footer>

<style is:global>
	@import "@Stylesheet/Component/Footer.css";
</style>
