---
const tabindex = Astro.url.pathname === "/" ? "-1" : "";
---

<header class="Header">
	<div class="container flex justify-around">
		<a
			href="/"
			title="Playform"
			class="flex content-center items-center justify-center"
			tabindex={tabindex}>
			<picture>
				<source
					srcset="/Image/logo.png, /Image/logo@2x.png 2x"
					media="(prefers-color-scheme: light)"
				/>
				<source
					srcset="/Image/logo_dark.png, /Image/logo_dark@2x.png 2x"
					media="(prefers-color-scheme: dark)"
				/>
				<img
					width="28"
					src="/Image/logo.png"
					alt="Playform"
				/>
			</picture>
		</a>
	</div>
</header>

<style is:global>
	@import "@Stylesheet/Component/Header.css";
</style>
