---
const Index = Astro.url.pathname === "/" ? "-1" : "";
---

<header class="Header">
	<div class="container flex justify-around">
		<a
			href="/"
			title="Playform"
			class="flex content-center items-center justify-center"
			tabindex={Index}>
			<picture>
				<source
					srcset="/Image/logo.png, /Image/Playform.svg"
					media="(prefers-color-scheme: light)"
				/>
				<source
					srcset="/Image/logo_dark.png, /Image/Playform.svg"
					media="(prefers-color-scheme: dark)"
				/>
				<img width="28" src="/Image/Playform.svg" alt="Playform" />
			</picture>
		</a>
	</div>
</header>

<style is:global>
	@import "@Stylesheet/Component/Header.css";
</style>
