---
import DarkPlayForm from "@Asset/Dark/PlayForm.svg?raw";
import PlayForm from "@Asset/PlayForm.svg?raw";

const Index = Astro.url.pathname === "/" ? "-1" : "";
---

<header class="Header">
	<div class="container flex justify-start">
		<a
			href="/"
			title="PlayForm"
			class="flex content-center items-center justify-center"
			tabindex={Index}>
			<div class="inline">
				<Fragment set:html={PlayForm} />
			</div>
		</a>
	</div>
</header>

<style is:global>
	@import "@Stylesheet/Component/Header.css";
</style>
