---
const Index = Astro.url.pathname === "/" ? "-1" : "";
---

<header class="Header">
	<div class="container flex justify-around">
		<a
			href="/"
			title="PlayForm"
			class="flex content-center items-center justify-center"
			tabindex={Index}>
			<picture>
				<source
					srcset="/Image/PlayForm.svg?v=2"
					media="(prefers-color-scheme: light)"
				/>
				<source
					srcset="/Image/Dark/PlayForm.svg?v=2"
					media="(prefers-color-scheme: dark)"
				/>
				<img width="212" src="/Image/PlayForm.svg?v=2" alt="PlayForm" />
			</picture>
		</a>
	</div>
</header>

<style is:global>
	@import "@Stylesheet/Component/Header.css";
</style>
